#stress-response1,
#stress-response2 {
  display: none;
}

#remedy-response1,
#remedy-response2 {
  display: none;
}

img {
  border-radius: 25%;
  display: block;
  margin: auto;
  width: 500px;
}

body,
h2,
p {
  text-align: center;
  margin: 2.5% 2.5%;
}
